@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato";
}

.hidden {
  display: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: none;
  width: 100%;
  display: block;
  padding: 0 0;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.hidden {
  display: none;
}

.imageFit {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  .imageFit {
    background-position: 80%;
  }
}

@media (max-width: 900px) {
  .imageFit {
    background-position: 75%;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
  left: 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  z-index: 2;
}

@media (max-width: 768px) {
  .header__logo img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header__logo {
    -webkit-transform: translate(-35%, 0px);
        -ms-transform: translate(-35%, 0px);
            transform: translate(-35%, 0px);
  }
}

@media (max-width: 768px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1.5px 0 0 0;
}

.menu__list li:last-child:after, .menu__list li:nth-child(2):after {
  display: none;
}

.menu__link {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: -120%;
    left: 0;
    background-color: #ada9a9;
    opacity: 0.8;
    padding: 150px 0 20px 0;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
  }
  .menu__body.active {
    top: 0;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #000;
    right: 50%;
    top: 40px;
    margin: 0 -2px 0 0;
  }
  .menu__link {
    color: #000;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    -webkit-transition: bottom 1s;
    -o-transition: bottom 1s;
    transition: bottom 1s;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    bottom: 8px;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  padding: 80px 0;
  background-color: #f7f7f7;
}

@media (max-width: 1100px) {
  .generation {
    padding: 40px 0 55px 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 30px 0;
}

.block__title {
  text-transform: uppercase;
  color: #353738;
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: 700;
  margin: 0 0 18px 0;
  line-height: 24px;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #7c7979;
}

@media (max-width: 1500px) {
  .block__text_j:after {
    width: 35px;
    margin: 15px auto 0 auto;
  }
}

@media (max-width: 1100px) {
  .brands__greek .brands__elem_hidden,
  .brands__greek .brands__content:after {
    display: none;
  }
}

.brands__mald .brands__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brands__mald .brands__column_b {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 1100px) {
  .brands__mald .brands__image,
  .brands__mald .brands__content:after {
    display: none;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}

.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  margin: 0 0 0 -8px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

@media (max-width: 1100px) {
  .brands__content {
    padding: 40px 15px 55px 15px;
  }
}

.brands__image {
  padding: 0 0 37.51% 0;
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 55px 30px;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px 0 0 0;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}

.item__logo span {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0 0 0;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}

.slider .container {
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .slider .container {
    max-width: 1300px;
  }
}

@media (max-width: 1400px) {
  .slider .container {
    max-width: 1130px;
  }
}

@media (max-width: 1100px) {
  .slider .container {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .slider .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .slider .container {
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  .slider .container {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .slider .container {
    max-width: 320px;
  }
}

.slider {
  padding: 120px 0 60px 0;
  position: relative;
}

.slider__container {
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .slider__container {
    width: 1200px;
  }
}

@media (max-width: 1400px) {
  .slider__container {
    width: 900px;
  }
}

@media (max-width: 1100px) {
  .slider__container {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .slider__container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .slider__container {
    width: 550px;
  }
}

@media (max-width: 650px) {
  .slider__container {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .slider__container {
    width: 300px;
  }
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin: 0 0 35px 0;
}

.slider__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #353738;
  font-weight: 700;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

@media (max-width: 500px) {
  .slider__title {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}

.slider__text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  padding: 0 35px;
}

@media (max-width: 768px) {
  .slider__text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 25px;
  }
}

@media (max-width: 500px) {
  .slider__text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 10px;
  }
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60%;
}

@media (min-width: 1400px) {
  .slider__buttons {
    width: 1200px;
  }
}

@media (max-width: 1400px) {
  .slider__buttons {
    width: 900px;
  }
}

@media (max-width: 1100px) {
  .slider__buttons {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .slider__buttons {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .slider__buttons {
    width: 550px;
  }
}

@media (max-width: 650px) {
  .slider__buttons {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .slider__buttons {
    top: 50%;
  }
}

@media (max-width: 500px) {
  .slider__buttons {
    width: 300px;
  }
}

.slider__buttons .btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.slider__buttons .btn:hover {
  border-color: #464444;
}

.slider__buttons .btn-prev {
  position: absolute;
  left: -20px;
  border-bottom: 3px solid #7c7979;
  border-left: 3px solid #7c7979;
}

.slider__buttons .btn-next {
  position: absolute;
  right: -20px;
  border-top: 3px solid #7c7979;
  border-right: 3px solid #7c7979;
}

.slider .btns-radio {
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1400px) {
  .slider .btns-radio {
    width: 1200px;
  }
}

@media (max-width: 1400px) {
  .slider .btns-radio {
    width: 900px;
  }
}

@media (max-width: 1100px) {
  .slider .btns-radio {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .slider .btns-radio {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .slider .btns-radio {
    width: 550px;
  }
}

@media (max-width: 650px) {
  .slider .btns-radio {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .slider .btns-radio {
    width: 300px;
  }
}

.slider .btns-radio input:not(:last-child) {
  margin: 0 10px 0 0;
}

@media (max-width: 1100px) {
  .slider {
    padding: 80px 0 40px 0;
  }
}

@media (max-width: 768px) {
  .slider {
    padding: 50px 0 30px 0;
  }
}

@media (max-width: 650px) {
  .slider {
    padding: 30px 0 20px 0;
  }
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 1100px) {
  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1100px) {
  .shop__column:first-child, .shop__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.shop__footer {
  background-color: #282f35;
  padding: 60px 0;
  text-align: center;
}

@media (max-width: 1100px) {
  .shop__footer {
    padding: 40px 0;
  }
}

.shop__btn {
  padding: 0 60px;
  height: 50px;
  line-height: 48px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 1100px) {
  .shop__btn {
    padding: 0 20px;
  }
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}

.block-shop__item_b {
  padding: 0 0 200.5% 0;
}

.block-shop__item_l {
  padding: 0 0 100.5% 0;
}

.block-shop__item .item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
