@import "nullStyle.scss";

//<FONTS>

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");
//font-family: 'Lato', sans-serif;

//</FONTS>

//<breakpoints>
//Large desktops and laptops
$bp1: 1200px;
//Landscape tablets and medium desktops
$bp2: 992px;
//Portrait tablets and small desktops
$bp3: 768px;
//Portrait phones and smaller
$bp4: 480px;
//Iphone 5
$bp5: 320px;
//<breakpoints>

$containerwidth: 1130px;

body {
	font-family: "Lato";
}

.hidden {
	display: none;
}

.container {
	max-width: $containerwidth;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

//======<BUTTONS>=======
.btn {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background-color: #000;
	font-size: 15px;
	font-family: "Bebas Neue";
	padding: 0 33px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
	&--w {
		background-color: #fff;
		color: #000;
	}
	&:hover {
	}
}

//======</BUTTONS>=======

//======<INPUTS>=========

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: none;
	width: 100%;
	display: block;
	padding: 0 0;
}

textarea.input {
	resize: none;
	padding: 0 0;
}
//======</INPUTS>========

//======<SUPORT>=========
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.hidden {
	display: none;
}

.imageFit {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

//======</SUPORT>========

//======<HEADER>=========

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}
	&__menu {
	}
	&__logo {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0px);
	}
}
.menu {
	&__icon {
	}
	&__body {
	}
	&__list {
	}
	&__link {
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.6px;
	}
}
.icon-menu {
}

//==========================================

//======</HEADER>==========

//======<MAIN BLOCK>=======
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//==========================

//==========================

//======</MAIN BLOCK>=======

//======<FOOTER>============

//======</FOOTER>===========
